.confirmation {
    text-align: center; 
    background-image: url('../../LandingPage/images/background\ 2.png');
    background-size: cover;
    padding-bottom: 500px; 
}

.confirmation svg {
    height: 100px; 
    width: auto; 
}

.confirmation h1 {
    margin: 0; 
    padding-top: 50px; 
}

.confirmation a {
    color: black; 
    text-decoration: none; 
}

.confirmation a:hover {
    text-decoration: underline; 
}