.challenge-container {
    background-image: url('../../LandingPage/images/background\ 2.png');
    background-size: cover;
}

.challenge-container .back {
    padding-top: 30px; 
    margin-left: 30px; 
}

.challenge-container a {
    margin-top: 10px; 
    text-decoration: none;
}

.challenge-container a:hover {
    margin-top: 10px; 
    text-decoration: underline;
}

.challenge-container .company-info {
    margin: 40px; 
    display: flex;
    justify-content: space-between;
}

.challenge-container .company-info h2  {
    display: inline; 
}

.company-info div h2 {
    margin-left: 15px; 
}

.challenge-info h3 {
    text-align: center;
}

.challenge-info form {
    margin-top: 50px; 
}

.challenge-info form button {
    margin-bottom: 20px; 
}

.challenge-info form .challenge-description {
    background-color: white;
    margin: 0 auto; 
    border: solid; 
    border-width: 0.5px; 
    padding-bottom: 40px; 
    width: 75%; 
}

.challenge-info form .challenge-description p {
    width: 75%; 
    margin: 0 auto; 
    margin-bottom: 25px; 
}

.challenge-info form .challenge-description label {
    margin-right: 5px; 
}

.challenge-info form .challenge-description input {
    width: 30%; 
}

.challenge-info form .additional-questions {
    margin: 0 auto; 
    margin-top: 50px; 
}

.challenge-info form .additional-questions label {
    display: block;
    margin-bottom: 12px; 
}

.challenge-info form .additional-questions .question {
    text-align: left; 
    margin: 0 auto; 
    width: 60%; 
    text-align: center; 
    margin-bottom: 25px; 
    /* border: solid;  */
}

.challenge-info form .additional-questions .question label {
    margin-right: 5px; 
}

.challenge-info form .additional-questions .question label, .challenge-info form .additional-questions .question select, .challenge-info form .additional-questions .question input {
    display: inline-block; 
}

.challenge-info form .additional-questions .question input {
    width: 50%; 
}

.challenge-info form .additional-questions textarea {
    display: block; 
    margin: 0 auto; 
    width: 700px; 
    height: 200px; 
}