.dashboard {
    background-image: url('../../LandingPage/images/background\ 2.png');
    background-size: cover;
    padding-bottom: 100px; 
}

.dashboard h2 {
    margin: 0; 
    padding-top: 20px; 
}

.dashboard h2, .dashboard h4 {
    text-align: center; 
}

.challenge {
    border-top: none;  
    width: 75%; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    background-color: white;
    border-radius: 25px; 
}

.challenge h2, .challenge h4 {
    text-align: left; 
}

.challenge .challenge-info {
    margin-left: 25px; 
}

.challenge .challenge-match {
    margin-right: 25px; 
}

.challenge .challenge-match a {
    text-decoration: none; 
    color: #06D6A0; 
}

.challenge .challenge-match a:hover {
    text-decoration: underline; 
}

