nav {
    border-bottom: solid;
    border-bottom-width: 0.5px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

nav h4 {
    display: inline-block;
    width: 30%; 
    margin-left: 30px; 
}

nav ul {
    display: inline-block; 
    list-style-type: none;
    text-align: right; 
    width: 60%; 
}

nav ul li a {
    text-decoration: none;
    color: black; 
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li button {
    border: none; 
    background: none;
    font: inherit; 
}

nav ul li button:hover {
    text-decoration: underline; 
    cursor: pointer; 
}