.login {
    text-align: center; 
}

.login h2 {
    margin-top: 150px; 
}

form {
    text-align: center;
}

form button {
    margin-top: 25px; 
}

.input-container {
    border: solid; 
    margin: 0 auto; 
    width: 280px; 
    padding: 20px; 
}

.input {
    margin-bottom: 12px; 
    margin-right: 30px; 
    text-align: right; 
}

.input label {
    margin-right: 8px; 
}